[Unit]
Description=CPU Cooler Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/scripts/cooler.sh

[Install]
WantedBy=multi-user.target
